Python Introduction

https://www.python.org/downloads/

https://www.anaconda.com/download  -> anaconda navigator ->  jupyter notebook

https://colab.google/

**What is Python ?**



* Python is a high-level, interpreted programming language known for its simplicity and readability.
* It was created by Guido van Rossum and first released in 1991.
* High Level
* Easily readable
* No declaration
* Frameworks and Library

**What is IDE ?**
* Software application
* Write, test, and debug their code
* Source Code Editor
* Compiler/Interpreter
* Debugger
* Automation Tools

**Some popular IDE** :

* VS Code
* Eclipse
* IntelliJ IDEA
* Pycharm

**Commenting :**

In [1]:
# This is a single-line comment
#int x = declaration
x = 10  # This is an inline comment explaining the variable assignment # intialization , variable /operand
print(x)

10

In [2]:
# This is a multi-line comment
# explaining the following code
# block that performs a calculation.
x=10
y = x * 2
#y=20
"""
This is a multi-line comment using a multi-line string.
It spans multiple lines but does not affect the code execution
since it is not assigned to any variable.
"""
z = y + 5 #z,x,y =operands. + = operators
print(z)

25

* Module: A single file containing Python definitions, functions, and statements.
* Package: A directory containing modules and a __init__.py file, used to structure and organize modules hierarchically.
* Library: A collection of packages and modules that provide additional functionality to Python applications.
* Function: A block of reusable code designed to perform a specific task, taking inputs (parameters), performing actions, and optionally returning a result.

**What is Keyword ?**
* Reserved words
* Part of Python Syntax
* Cannot be use as identifiers
* Control the flow of a program

**Control Flow:**  If , Else , Elif , For , While

**Function and Class Definitions:** Def , Class

**Boolean Values:** True , False

**Special Statements:** Import ,  From , Global , Non Global

In [ ]:
import keyword

print(keyword.kwlist)  # Prints the list of all keywords
print(keyword.iskeyword('if'))  # Returns True
print(keyword.iskeyword('hello'))  # Returns False

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
True
False

In [ ]:
import keyword
kw = keyword.kwlist
for i in kw:
    print(i)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

Valid Identifiers / Variabels

In [5]:
# Integer

age = 25
print('age:',age)

#name= "anjana122"

age: 25

In [3]:
for= 12

SyntaxError: invalid syntax (<ipython-input-3-e42cdf9b7980>, line 1)

In [ ]:
# Float

temperature = 36.6

In [ ]:
# String

name = "John Doe"

In [6]:
a,b,c,d = 10, "HI", 12.34, True

In [7]:
type(a)

int

In [11]:
print ('a:', a ,type(a))

a: 10 <class 'int'>

In [12]:
print(15+10+10)

35

In [13]:
notebook = 40
pencil = 10
pen = 10

In [14]:
print(notebook+pencil+pen)

60

In [ ]:
myVariable = 10
_variable = 5
variable123 = "Hello"
Variable = True
age=25
Name= "anjana"

Invalid Identifiers / Variabels

In [ ]:
123variable = 10     # Starts with a digit
my-variable = 5      # Contains a hyphen
class = "Hello"      # Uses a reserved keyword
var!able = True      # Contains a special character
var riable= 10

Operators

In [1]:
# Arithmetic Operators
# assignment operator "="
a = 10
b = 20

c = a+b
d = a-b
e = a*b
f = a/b
g = a%b # return remainder - 3/2 =1
h = a//b # floor division - 3/2 = 1.5= 1

print("Addition : \n", c)
print("Subtraction : \t", d)
print("Mul : ", e)
print("Div : ", f)
print("Modulo : ", g)
print("Floor : ", h)

Addition :
 30
Subtraction : 	 -10
Mul :  200
Div :  0.5
Modulo :  10
Floor :  0

In [ ]:
# Assignment operators

a = 2

a+=2   # a = a+2
print(a)
a*=2   # a = a*2
print(a)
a/=2   # a = a/2
print(a)
a-=2   # a = a-2
print(a)

 # bitwise operator
a = 10  # Binary representation: 1010
a&=2   # a = a&2

# and , or ,not ,xor = logical operator
# bitwise operator = and ,or,not ,xor =works on bit . number will be coverted into binary
a=10
b=20
if a<b and a!=b: #a<b =true/1 , a!=b =true/1 o/p =1
  print("true")
"""
condition for and operator/gate
1=true 1= true o/p =1 true
1=true 0= false o/p =0 false
0=true 1= false o/p =0 false
0=false 0= false o/p =0 false
"""
# 1 =true , 0=False

1010 #10 ,decimal =0to1 ,binary=0,1
&
0010 #20
=
0010 #20

print(a)
a|=2   # a = a|2

a=10
b=20
if a>b or a!=b:  #condition 1= false, condition 2= true o/p =true
  print("true")

"""
condition for or operator/gate
1=true 1= true o/p =1 true
1=true 0= false o/p =1 true
0=true 1= false o/p =1 true
0=false 0= false o/p =0 false
1010
|
0010
=
1010
"""

print(a)
a^=2   # a = a^2
print(a)

a=10
b=20
if a>b and a!=b:  #condition 1= false, condition 2= true o/p = true
  print("true")
""" xor operator

only one condition should be true
1= false , 0=true o/p =1 true
1=true , 0=false o/p =1 true
0=true , 1=false o/p =1 true
0=false , 0=false o/p =0 false
1=true, 1=true o/p =0 false
"""
print(a)
a>>=2   # a = a>>2
print(a)
1010
^
0010
=
1000


a<<=2  # a = a<<2 #left shift
print(a)


a>>=2  # a = a>>2 #right shift

In [2]:
x = 10
y = 20

x_binary = bin(x)
y_binary = bin(y)

print(f"Binary representation of {x} is {x_binary}")
print(f"Binary representation of {y} is {y_binary}")

Binary representation of 10 is 0b1010
Binary representation of 20 is 0b10100

In [ ]:
num = 10

# Convert decimal to binary
binary_representation = bin(num)
print(binary_representation)  # Output: 0b1010

# Convert decimal to octal
octal_representation = oct(num)
print(octal_representation)  # Output: 0o12

# Convert decimal to hexadecimal
hexadecimal_representation = hex(num)
print(hexadecimal_representation)  # Output: 0xa

Binary 1010 to Decimal: 10
Octal 12 to Decimal: 10
Hexadecimal A to Decimal: 10
Hexadecimal 1A to Decimal: 26

In [ ]:
# Convert binary string to decimal
binary_string = "1010"
decimal_from_binary = int(binary_string, 2)
print(decimal_from_binary)  # Output: 10

# Convert octal string to decimal
octal_string = "12"
decimal_from_octal = int(octal_string, 8)
print(decimal_from_octal)  # Output: 10

# Convert hexadecimal string to decimal
hexadecimal_string = "A"
decimal_from_hexadecimal = int(hexadecimal_string, 16)
print(decimal_from_hexadecimal)  # Output: 10

binary to decimal

In [ ]:
1 * 2^3 + 0 * 2^2 + 1 * 2^1 + 0 * 2^0  #1010
= 1 * 8 + 0 * 4 + 1 * 2 + 0 * 1
= 8 + 0 + 2 + 0
= 10 (in decimal)

decimal to binary :
* Divide the number by 2 and record the remainder.
* Continue dividing the quotient by 2 until the quotient is 0.
* The binary representation is the sequence of remainders read in reverse (from last to first).

In [ ]:
Step 1: 10 รท 2 = 5, remainder = 0 #10 decimal value ,2 base of decimal
Step 2:  5 รท 2 = 2, remainder = 1 #not the o/p 0101 #correct o/p 1010
Step 3:  2 รท 2 = 1, remainder = 0
Step 4:  1 รท 2 = 0, remainder = 1

In [ ]:
# Comparison operators

a = 10
b = 20

print(a<b) #true (less than)
print(a>b) #false (greater than)
print(a<=b) #true (less than or equal to)
print(a>=b) #false (greater than of equal to)
print(a==b) #false #if the remainder is zero ,it is true or else false
print(a!=b) #true ( not equal)

True
False
True
False
False
True

* and: Returns True if both operands are True.  1=true 0=false
1=true, 1= true ans= true
1 , 0 = false
0,1 =false
0,0 =false
1,1 =true
* or: Returns True if at least one operand is True.

1 , 0 = true
0,1 = true
0,0 =false
1,1 =true

* xor: Returns True if exactly one operand is True, but not both.

1 , 0 = true
0,1 = true
0,0 =false
1,1 = false

* not: Negates the Boolean value of its operand.

In [ ]:
# Logical operators

# and, or, not

a = 10
b = 20
c = 30

print((a<=b)and(a!=b)) # both condition should be true(1) ,o/p =true(1)

In [ ]:
print((a<b)or(a==b)) # either one condition should be true(1), o/p =true(1)

In [ ]:
print(not(a<b)) #result will be opposite

False

Conditional Statements

In [ ]:
# Conditional statements

# if
# if-else
# if-elif-else
# nested-if

In [ ]:
# if # if the condition satisfies print the result

i = 10 # var = value

if i%2 == 0: #if #condition ,if the condition i%2 == 0 (10/2 = remainder 0) satisfies print even
  print("EVEN")

if i%2 != 0: #if the condition i%2 == 0 (10/2 != remainder 0) satisfies print odd
    print("ODD")

#example 2
a= 10
b=20
if a<b:
  print("a is less than b") #o/p
if a>b:
  print("a is greater than b")

In [4]:
# if -else

i = 10

if i%2 == 0:
    print("EVEN")
else:
    print("ODD")

#example2

a=10
b=20
if a<b:
  print("a is less than b")
else:
  print("a is greater than b")

EVEN
a is less than b

In [7]:
# if-elif-else

i,j = 10,20

if i%2 == 0: #1st condition
    print("i is EVEN")

elif j%2 == 0:
    print("j is EVEN")

elif i%j == 0:
    print("i%j is EVEN")

else:
    print("None of the condition is satisfied")

i is EVEN

In [10]:
# nested if

i = -16 #signed integer

if i%2 == 0: #1st if ,16 is divisible 2 ,remainder 0
    print(i, " is divisible by 2") #satisfied ,printed
    if i%4 == 0: #2nd if ,16 is divisible by 4 ,remainder 0
        print(i, " is divisible by 4")
    else: #else of 2nd if statement
        print(i, " is not divisible by 4")
else: #else of 1st if statement
    print(i, " is not divisible by 2")

-16  is divisible by -2
-16  is divisible by 4

**Type Casting :**
* Type casting, also known as type conversion, is the process of converting a variable from one data type to another.

In [ ]:
# String to Integer
age_str = "25" # ""=character/string if not integer ,decimal .datatype of 25= str  ,type()
age_int = int(age_str)
print("Age as integer:", age_int)
print("Type of age_int:", type(age_int))

# String to Float
temp_str = "36.6"
temp_float = float(temp_str) #float("36.6")
print("Temperature as float:", temp_float)
print("Type of temp_float:", type(temp_float))

# Integer to String
age_int = 25 #25 =integer ,bcuz we havent used ""
age_str = str(age_int)
print("Age as string:", age_str)
print("Type of age_str:", type(age_str))

# Float to Integer
temp_float = 36.6
temp_int = int(temp_float)
print("Temperature as integer:", temp_int)
print("Type of temp_int:", type(temp_int))

# Integer to Boolean
value = 1
value_bool = bool(value)
print("Value as boolean:", value_bool)
print("Type of value_bool:", type(value_bool))

----

# String to List
string = "hello"
string_list = list(string)
print("String as list:", string_list)
print("Type of string_list:", type(string_list))

# List to Tuple
list_example = [1, 2, 3]
list_tuple = tuple(list_example)
print("List as tuple:", list_tuple)
print("Type of list_tuple:", type(list_tuple))

Age as integer: 25
Type of age_int: <class 'int'>
Temperature as float: 36.6
Type of temp_float: <class 'float'>
Age as string: 25
Type of age_str: <class 'str'>
Temperature as integer: 36
Type of temp_int: <class 'int'>
Value as boolean: True
Type of value_bool: <class 'bool'>
String as list: ['h', 'e', 'l', 'l', 'o']
Type of string_list: <class 'list'>
List as tuple: (1, 2, 3)
Type of list_tuple: <class 'tuple'>

Fetching user input

In [ ]:
# Fetching user input as a string
user_name = input("Enter your name: ")
print("Hello, " + user_name + "!")

# Fetching user input and converting to an integer
user_age = input("Enter your age: ")
user_age = int(user_age)
print("You are " + str(user_age) + " years old.")

# Fetching user input and converting to a float
user_height = input("Enter your height in meters: ")
user_height = float(user_height)
print("Your height is " + str(user_height) + " meters.")

Enter your name: anjana
Hello, anjana!
Enter your age: 25
You are 25 years old.
Enter your height in meters: 1.5
Your height is 1.5 meters.

Task Day 1:
* **Task 1**: Setting Up and Using an IDE
* **Task 2:** Working with Keywords and Variables
Create a Python script.
Declare and initialize variables of different types (integer, float, string, boolean).
Print the values and types of these variables.
* **Task 3:** Fetching User Input and Using Type Casting
Create a Python script.
Fetch user's name (string), age (integer), and height (float).
Convert the inputs to appropriate types.
Print a summary message using the input data.
* **Task 4:** Using Operators
Create a Python script.
Declare and initialize variables.
Perform arithmetic operations (+, -, *, /, //, %, **).
Use comparison operators (==, !=, >, <, >=, <=).
Use logical operators (and, or, not).
Print the results of these operations.
* **Task 5**:  Conditional Statements
Create a Python script.
Declare and initialize a variable.
Use if, elif, and else statements to make decisions based on the value of the variable.
Print appropriate messages based on the conditions.